<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully checked it out</p>
  <hr>
  <p class="mb-0">Contact us if needed .</p>
</div>
<div class="text-center" style="width: 25%;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1547892072-4d48ce26d8d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="Card image cap">
</div>
<!-- <div class="container-fluid bg-1 text-center">

  <h3 class="margin">Checkout Successfully!</h3>
  <img src="https://images.unsplash.com/photo-1547892072-4d48ce26d8d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" class="img-responsive margin" style="width:100%" alt="Image">
</div> -->