<div class="container">
  <div class="row">
      <h1 style="text-align: center">Login</h1>
      <div style="width: 30%; margin: 25px auto;">
          <form>               
             
              <div class="form-group">
                <input [(ngModel)]="user.userName" class="form-control" type="text" name="userName" placeholder="user name"/>
              </div>
              <div class="form-group">
                <input [(ngModel)]="user.password" class="form-control" type="password" name="password" placeholder="password"/>
              </div>
              
              <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" (click)="UsersLogin()">Login</button>
              </div>
              <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" (click)="register()">Register</button>
              </div>
            </form>
      </div>
     </div>
    </div>
      