<html>
  <head>

  </head>
  <body>
    <h1 class="display-4" style="color:orange">Cart Page</h1>
    <p class="lead">This is your cart, you can check it out any time</p>
    <!-- <hr class="my-4"> -->
  
    <p *ngIf="!shoppingCartItems"><em>Loading...</em></p>

    <table class='table table-striped' *ngIf="shoppingCartItems">
      <thead class="thead-dark">
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Delete a Item</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of userItems">
                <td>{{ s.productName }}</td>
                <div *ngFor="let p of products">
                    <td *ngIf="p.productName==s.productName">{{ p.price }}$</td>
                </div>
                <td>
                    <form (ngSubmit)="deleteItem($event)" name ={{s.id}}>
                        <button class="btn btn-lg btn-danger btn-block" type="submit">Delete</button>
                    </form>
                </td>
        </tr>
      </tbody>
    </table>
  <div style="overflow:auto">
      <a class="btn btn-primary" style="float:left" [routerLink]="['/shop']"> Back</a>
      <a class="btn btn-primary" style="float:right" (click) = "Checkout()"> Check Out</a>
      
      <div style="clear:both"></div>
  </div>
  </body>
</html>