<!--The content below is only a placeholder and can be replaced.-->

<!-- // <link rel="stylesheet" href="/stylesheets/main.css"> -->
<script src="https://code.jquery.com/jquery-git2.min.js"></script>



<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" routerLink="/shop" *ngIf="shareInfoClass.logIn">Shopping Website</a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
              <a class="nav-link" *ngIf="shareInfoClass.logIn"> Login As: {{ shareInfoClass.userName }}</a>
            </li>
            <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <a class="nav-link" routerLink="/shop" *ngIf="shareInfoClass.logIn">Home </a>
          </li>
          <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link" routerLink="login" *ngIf="!shareInfoClass.logIn">Log in</a>
          </li>
          <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link" routerLink="/cart" *ngIf="shareInfoClass.logIn">Cart</a>
          </li>
          <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link" routerLink="/payment" *ngIf="shareInfoClass.logIn">Check out</a>
          </li>
          <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link" (click)="logOut()" *ngIf="shareInfoClass.logIn">Log out</a>
          </li>
        </ul>
      </div>
    </nav>

  </body>
</html>
<!-- <app-login></app-login> -->
<router-outlet></router-outlet>
