<p class = "alert alert-info">
    Please select one card you have ever used:
  </p >
  <div class="container">
      <p *ngIf="!paymentInfo"><em>Loading...</em></p>

      <table class='table table-striped' *ngIf="paymentInfo">
        <thead class="thead-dark">
          <tr>
            <th>Card Number</th>
            <th>Selection</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of paymentInfo">
                  <td *ngIf="p.userName==user">{{ p.cardNum }}</td>
                  <td *ngIf="p.userName==user"> <button (click) = "CheckOut()">Use This</button></td>
          </tr>
        </tbody>
      </table>
  </div>
  <p class="alert alert-info">
    Or You can enter a new deposit/credit card infomation:
  </p >
  <div style="width: 30%; margin: 25px auto;">
    <form (ngSubmit)="AddCard()">
        <div class="form-group">
            <input class="form-control" type="text" name="userName" placeholder="card number"
            [(ngModel)]="newPayment.cardNum">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="password"
            [(ngModel)]="newPayment.password">
        </div>

        <div class="form-group">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </div>
    </form>
  </div>
  <div style="overflow:auto">
      <a class="btn btn-primary" style="float:left" [routerLink]="['/cart']"> Back</a>
      
      <div style="clear:both"></div>
  </div>
