<p class = "alert alert-info">
    Please select one card you have ever used:
  </p >
  <div class="container">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>
                    CardNum
                </th>
  
                <th></th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
  </div>
  <p class="alert alert-info">
    Or You can enter a new deposit/credit card infomation:
  </p >
  
  <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Card Number</label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter card Info">
        <small class="form-text text-muted">We'll never share your info with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary" [routerLink]="['/checkout']">Submit</button>
    </form>
  <a class="btn btn-danger" style="float:right"> Crush</a >
